body {
  font-family: 'Roboto', sans-serif;
  background-color: #00171F;
  color: #007EA7;
  margin: 0;
}

.container {
  background-color: #CCC;
}
.colors {
  /*
  white: #FFFFFF;
  richblack: #00171F;
  prussian-blue: #003459
  cerulean: #007EA7;
  vivid-cerulean: 00A8E8;
  */
}
.header {
  padding: 1vh;
  border-bottom: solid #007EA7;
  background-color: #003459;
  margin-bottom: 2vh;
}
.header a {
  margin-left: 1vw;
  margin-right: 1vw;
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
}

.header a:hover {
  color: #CCC;
}
.loginHeader {
  float: right;
}

.intro {
   background-image: url('/images/site/frontPageCollage.jpg');
   color: white;
   height: 60vh;
}

.introText {
  padding: 10vh;
}
.newUsers {
  background-color: #00171F;
}
.newUsers li {
  list-style-type: none;
  display: inline;
  margin: 1vh;
}

.footer {
  padding: 1vh;
  border-top: solid #007EA7;
  color: white;
  background-color: #003459;
  height: 10vh;
}

.media
 {
     /*box-shadow:0px 0px 4px -2px #000;*/
     margin: 20px 0;
     padding:30px;
 }
 .dp
 {
     border:10px solid #eee;
     transition: all 0.2s ease-in-out;
     width: 100px;
     height:100px;
 }
 .dp:hover
 {
     border:2px solid #eee;
     transform:rotate(360deg);
     -ms-transform:rotate(360deg);
     -webkit-transform:rotate(360deg);
     /*-webkit-font-smoothing:antialiased;*/
 }
 .userBox {
   margin:8px auto;
 }
 .media-heading {
   font-size: 24pt;
   color: white;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.galleryGame {
  display: flex;
  width: auto;
  background-color: #007EA7;
  margin: 1vw;
}
.galleryGame img {
  padding: .5vw;
  height: 20vw;
  width: 15vw;
}
.gameInfo {
  padding: .5vw;
  overflow: hidden;
  display: inline;
  width: 30vw;
  background-color: #008EA8;
}

.addGame {
  background-color: white;
}
.addGameResult li:hover {
  background: #ccc !important;
  text-decoration: none !important;
}

.addGameResult a:active {
  text-decoration: none;
}

.loginForm {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 4vh;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.loginForm form {
  margin: auto;
  text-align: center;
}

.loginForm input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.loginForm input[type='email'], textarea {
  background-color: #f2f2f2;
}
.loginForm input[type='password'], textarea {
  background-color: #f2f2f2;
}

.loginForm .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.loginForm .message a {
  color: #003459;
  text-decoration: none;
}
