body {
  font-family: 'Roboto', sans-serif;
  font-weight: light;
  background-color: #333333;
  color: #333333;
  margin: 0;
}

#APP {
  background-color: #333333;
}
.colors {
  /*
  one: #333333;
  two: #E05151;
  three: #D9411E;
  four: #FFD452;
  five: #75A3D1;
  */
}
.header {
  padding: 1vh;
  border-bottom: solid #E05151;
  background-color: #D9411E;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.header a {
  margin-left: 1vw;
  margin-right: 1vw;
  color: #FFD452;
  text-decoration: none;
  font-weight: bold;
  font-size: 48px;
}
.header .logo {
  flex-basis: 85%;
}
.header .loginHeader {
  /*flex-basis: 15%;*/
}

.header a:hover {
  color: #333333;
}


.intro {
   background-image: url('/images/site/frontPageCollage.jpg');
   color: #FFFFFF;
   height: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.introText {
  padding: 10vh;
  flex-basis: 60%;
}
.newUsers {
  /*background-color: #A9B7C0;*/
}
.newUsers li {
  list-style-type: none;
}
.newUsers a {
  color: #75A3D1;
  display: flex;
}

.newUserProfile {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
.newUserInfo {
  margin-left: 1vw;
}

.footer {
  padding: 1vh;
  border-top: solid #E05151;
  color: #FFD452;
  background-color: #D9411E;
  height: 10vh;
}

.media
 {
     /*box-shadow:0px 0px 4px -2px #000;*/
     margin: 20px 0;
     padding:30px;
 }
 .dp
 {
     border:10px solid #eee;
     transition: all 0.2s ease-in-out;
     width: 100px;
     height:100px;
 }
 .dp:hover
 {
     border:2px solid #eee;
     transform:rotate(360deg);
     -ms-transform:rotate(360deg);
     -webkit-transform:rotate(360deg);
     /*-webkit-font-smoothing:antialiased;*/
 }
 .userBox {
   margin:8px auto;
 }
 .media-heading {
   font-size: 24pt;
   color: white;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.galleryGame {
  display: flex;
  width: auto;
  background-color: #FFF;
  margin: 1vw;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.galleryGame img {
  padding: .5vw;
  height: 20vw;
  width: 15vw;
}
.gameInfo {
  padding: .5vw;
  overflow: hidden;
  display: inline;
  width: 30vw;
  background-color: #FFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.gameInfo p {
  font-weight: 300;
  color: #333333;
}

.addGame {
  background-color: white;
}
.addGameResult li:hover {
  background: #ccc !important;
  text-decoration: none !important;
}

.addGameResult a:active {
  text-decoration: none;
}

.loginForm {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 4vh;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.loginForm form {
  margin: auto;
  text-align: center;
}

.loginForm input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.loginForm input[type='email'], textarea {
  background-color: #f2f2f2;
}
.loginForm input[type='password'], textarea {
  background-color: #f2f2f2;
}

.loginForm .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.loginForm .message a {
  color: #003459;
  text-decoration: none;
}
.addGameForm {
  color: red;
}

.notFound {
  color: #D9411E;
}
